.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    grid-column: 2 / 6;
    align-content: center;
}

.footer {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    grid-column: 1 / 6;
    align-content: center;
}

.header {
    grid-column: 2 / 6;
    align-content: center;
}

.footer {
    grid-column: 1 / 6;
    align-content: center;
}