.container {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.header {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    grid-column: 2 / 6;
}

.footer {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    grid-column: 1 / 6;
}